body{
    background-color: rgb(64, 76, 185);
    text-align: center;
}
header h1 {
    padding-top: 110px;
    color: white;
    font-size: 3em;
}
section {
    
    background-color: #f7f6f4;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: auto;

}
footer {
    color: white;
    font-size: 2em;

}
#imagendia {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 100px;
}
#msg {
    font-size: 2em;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}